{%extends "base.html"%}
{%import "_macros.html" as macros%}

{%block title%}Rico's Blog{%endblock%}

{% block page_content %}

    <div class="page-header">
        <h1>我的文章</h1>
    </div>
    <ul class="">
        {%for article in articles%}
        <li class="blog_li">
            <a href="{{url_for('main.article',id=article.id)}}">查看详情</a>
            <div class="article">
                {{article.article|safe}}
            </div>
        </li>
        {%endfor%}
    </ul>
    {{ macros.pagination_widget(pagination, '.blog')}}

{% endblock %}