{%extends "base.html"%}

{%block title%}Rico's site{%endblock%}

{% block content %}
<div style="width:100%">
    <div style="width:100%;">
        <img src="{{url_for('static',filename='lake.gif')}}" style="width:100%">
    </div>
    <div>
        <center><h3>欢迎来到我的博客</h3></center>
        <center><p>纯手工建站不易，各位渗透大佬手下留情</p></center>
        <center><img src="{{url_for('static',filename='lowhead.jpg')}}" style="width:200px;height:180px"></center>
        <br><br>
        <center>powered by flask</center>
        <center>@Rico.Lee &nbsp;&nbsp;All Rights Reserved</center>
    </div>
</div>
{% endblock %}